
  <body>
    <h1 class="header">Store My Stuff</h1>
    <p class="header">Upload your belongings</p>

       <script type="text/javascript">
     <% if session[:user] %>
     $(document).ready(function() {
     // Handler for .ready() called.
     $('#panel1').removeClass('active');
      $('#panel2').addClass('active');
     });
       <% end %>
         <% if @item %>
     $(document).ready(function() {
     // Handler for .ready() called.
     $('#panel2').removeClass('active');
      $('#panel3').addClass('active');
     });
       <% end %>
     </script>

    <dl class="accordion" data-accordion>

   <%= erb :user %>
  <dd>
    <a href="#panel2">Item Information (click to enter)</a>
    <div id="panel2" class="content">
       <form method="post" action="/form" enctype="multipart/form-data">
        <input type="text" value="Item name" id="item" name="item"></input><br>
        <input type="text" value="Serial number" id="serial_number" name="serial_number"></input><br>
        <input type="text" value="Approximate Value" id="price" name="price"></input><br>
        <input type="text" value="Item Description" id="description" name="description"></input><br>

        <div class="row">
          <div class="large-3 medium-3 columns large-centered medium-centered">
            <input type="file" value="Upload picture" id='pic' name="pic"></input>
            <button type="submit" id="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </dd>
      <dd>
    <a href="#panel3">Saved Items (click to view)</a>
    <div id="panel3" class="content">
        <div class="row header">

      <h1>Summary of Inventory</h1>
      <h3>Total Value: $


  <% if session[:submitted_items] %>
<% if session[:submitted_items][0][6] %>

<% @t = 0 %>
  <% while (@t < session[:submitted_items].length) do %>
   <% s = session[:submitted_items][@t][6].to_f %>
  <% @total += s %>
  <% @t += 1 %>
<% end %>
<% end %>
<% end %>
<%= @total %>
      </h3>
  </div>
        <center><input type="button" value="Remove Last Item" class="remove"></input></center>
<% if session[:submitted_items] %>
<% @i = 0 %>
  <% while (@i < session[:submitted_items].length) do %>
  <div class="row item">
    <div class="medium-9 columns item_text">
      <p>Item Name: <%= session[:submitted_items][@i][0] %></p>
      <p>Serial Number: <%= session[:submitted_items][@i][5] %></p>
      <p>Retail Price: <%=session[:submitted_items][@i][6] %></p>
    </div>
    <div class="medium-3 columns" id="post_pic">
      <!--<div id="pic_display"> -->
        <img src="http://farm<%=session[:submitted_items][@i][4]%>.staticflickr.com/<%=session[:submitted_items][@i][3]%>/<%=session[:submitted_items][@i][1]%>_<%=session[:submitted_items][@i][2]%>_m.jpg" />
      <!--</div> -->
    </div>
  </div><br clear="both" />
  <% @i += 1 %>
<% end %>
<% end %>
</div>




  <script type="text/javascript">
$('.remove').on('click', function (e) {
    e.preventDefault();


    $('.row .item:last').remove();

});
</script>
    </div>
 </dd>
</dl>








