<html>
<head>
  <title>Summary of Inventory</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/foundation/5.1.1/css/foundation.min.css">
  <link rel="stylesheet" href="/application.css" type="text/css" />
</head>
<body></a>
  <h1>Summary of Inventory for <%= @user_name %></h1>
  <div class="row">
    <p>Name: <%= @name %></p>
    <p>Phone: <%= @phone %></p>
    <p>Email: <%= @email %></p>
    <p>Zip: <%= @zip %></p>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <p>Item Name: <%= @item %></p>
      <p>Serial Number: <%= @serial_number %></p>
      <p>Retail Price: <%= @price %></p>
    </div>
    <div class="large-6 columns">
      <div id="pic_display">
      Picture goes here.
    </div>
    </div>
  </div>


</body>
</html>
