<html>
<head>
  <title>Summary of Inventory for <%= @user_name %></title>
</head>
<body></a>
  <div class="row">
    <p>Name: <%= @name %></p>
    <p>Phone: <%= @phone %></p>
    <p>Email: <%= @email %></p>
    <p>Zip: <%= @zip %></p>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <p>Item Name: <%= @item %></p>
      <p>Serial Number: <%= @serial_number %></p>
      <p>Retail Price: <%= @price %></p>
    </div>
    <div class="large-8 columns" id="pic">
      Picture goes here.
    </div>
  </div>


</body>
</html>
